<aside class="sidebar" [class.toggled]="sidebarVisible">
    <perfect-scrollbar>

        <div class="user" dropdown>
            <div class="user__info" dropdownToggle>
            <!--<div class="user__info">-->
                <img class="user__img" src="./assets/demo/img/profile-pics/2.jpg" alt="">
                <div>
                    <div class="user__name">Carlos Alatorre</div>
                    <div class="user__email">carlos@gmail.com</div>
                </div>
            </div>

            <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="">View Profile</a>
                <a class="dropdown-item" href="">Settings</a>
                <a class="dropdown-item" href="">Logout</a>
            </div>
        </div>

        <ul class="navigation">
            <li routerLinkActive="navigation__active"><a [routerLink]="['/home']"><i class="zmdi zmdi-home"></i> Home</a></li>
            <li routerLinkActive="navigation__active"><a [routerLink]="['/typography']"><i class="zmdi zmdi-format-underlined"></i> Typography</a></li>
            <li routerLinkActive="navigation__active"><a [routerLink]="['/widgets']"><i class="zmdi zmdi-widgets"></i> Widgets</a></li>

            <!--SUB LEVEL-->
            <!--<li routerLinkActive="navigation__sub&#45;&#45;active" class="navigation__sub">-->
                <!--<a (click)="toggleNavigationSub('Charts', $event)"><i class="zmdi zmdi-trending-up"></i> Charts</a>-->

                <!--<ul [@toggleHeight]="navigationSubState.Charts">-->
                    <!--<li routerLinkActive="navigation__active"><a [routerLink]="['/charts/flot']">Flot</a></li>-->
                    <!--<li routerLinkActive="navigation__active"><a [routerLink]="['/charts/sparklines']">Sparklines</a></li>-->
                <!--</ul>-->
            <!--</li>-->

        </ul>
    </perfect-scrollbar>
</aside>
