<aside class="sidebar" [class.toggled]="sidebarVisible">
    <perfect-scrollbar>

        <div class="user" dropdown>
            <div class="user__info" dropdownToggle>
            <!--<div class="user__info">-->
                <img class="user__img" src="./assets/demo/img/profile-pics/2.jpg" alt="">
                <div>
                    <div class="user__name">Carlos Alatorre</div>
                    <div class="user__email">carlos@gmail.com</div>
                </div>
            </div>

            <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="">View Profile</a>
                <a class="dropdown-item" href="">Settings</a>
                <a class="dropdown-item" href="">Logout</a>
            </div>
        </div>

        <ul class="navigation">
            <li routerLinkActive="navigation__active"><a [routerLink]="['/agenda']"><i class="zmdi zmdi-calendar"></i> Agenda</a></li>
            <li routerLinkActive="navigation__active"><a [routerLink]="['/clientes']"><i class="zmdi zmdi-accounts"></i> Clientes</a></li>
            <li routerLinkActive="navigation__active"><a [routerLink]="['/turnos']"><i class="zmdi zmdi-time-interval"></i> Turnos</a></li>

            <li routerLinkActive="navigation__sub--active" class="navigation__sub">
                <a (click)="toggleNavigationSub('settings', $event)"><i class="zmdi zmdi-settings"></i> Configuraciones</a>

                <ul [@toggleHeight]="navigationSubState.settings">
                    <li routerLinkActive="navigation__active"><a [routerLink]="['/servicios']"><i class="zmdi zmdi-cloud-done"></i> Servicios</a></li>
                    <li routerLinkActive="navigation__active"><a [routerLink]="['/productos']"><i class="zmdi zmdi-mall"></i> Productos</a></li>
                </ul>
            </li>

            <!--SUB LEVEL-->
            <!--<li routerLinkActive="navigation__sub&#45;&#45;active" class="navigation__sub">-->
                <!--<a (click)="toggleNavigationSub('Charts', $event)"><i class="zmdi zmdi-trending-up"></i> Charts</a>-->

                <!--<ul [@toggleHeight]="navigationSubState.Charts">-->
                    <!--<li routerLinkActive="navigation__active"><a [routerLink]="['/charts/flot']">Flot</a></li>-->
                    <!--<li routerLinkActive="navigation__active"><a [routerLink]="['/charts/sparklines']">Sparklines</a></li>-->
                <!--</ul>-->
            <!--</li>-->

        </ul>
    </perfect-scrollbar>
</aside>
